<a href="{{ path('admin_app_preinscriptos_imprimirConstanciaPreinscripcion', {'id': object.id}) }}" class="btn btn-sm btn-warning view_link" target=_blank title="Imprimir Constancia de Preinscripcion">
        <i class="glyphicon glyphicon-file"></i>
Constancia Preinscripcion
</a>