<a href="{{ path('admin_app_evento_preinscriptos_list', {'id': object.id}) }}" class="btn btn-sm btn-warning view_link" title="Preinscriptos">
        <i class="glyphicon glyphicon-user"></i>
Preinscriptos
</a>